.keybutton,
#btnGo{
    background-color:black;
    color:white;
    font-weight:bold;
    height:4em;
    vertical-align: middle;
    line-height: 4em;
    text-align:center;
    border: 2px solid white;
}
.keybutton{
    width:30%;
    float:left;
    margin:2px;

}
#btnGo{
    clear:both;
    width:92%;
}
#txtInput{
    width:92%;
}

#heading{
    text-align:center;
}

body{
    background-color:#880000;
}