.faderHolder{
    float:left;
    margin-left: 15px;
}

.fader{float:left;}

.spacer{
    clear:both;
    height:5em;
}


.fader,
.ui-slider,
.ui-slider-vertical,
.ui-widget,
.ui-widget-content,
.ui-corner-all{
    width:60px !important;
}

.ui-slider-handle,
.ui-state-default,
.ui-corner-all{
    margin-left:3px !important;
}

.ui-slider-handle{
    height:60px !important;
}

.ui-slider{
    height:300px !important;
}

.flashButton{
    margin-top:15px;
    height:60px;
}

.ui-button-text{
    padding:0px !important;
    padding-top:15px !important;
}